include src/jnkepler/data/kep51_ttv.txt
include src/jnkepler/data/kep51_dt1.0_start155.00_end2950.00_de.csv
include src/jnkepler/data/kep51_dt1.0_start155.00_end2950.00_params.txt
include src/jnkepler/data/kep51_dt1.0_start155.00_end2950.00_pdict_ttvfast.csv
include src/jnkepler/data/kep51_dt1.0_start155.00_end2950.00_pdict.csv
include src/jnkepler/data/kep51_dt1.0_start155.00_end2950.00_tc.csv
include src/jnkepler/data/kep51_dt1.0_start155.00_end2950.00_grad.txt
include src/jnkepler/data/tcbug_elements.txt
include src/jnkepler/data/tcbug_masses.txt
include src/jnkepler/data/kep51_lc_model.txt
include src/jnkepler/data/kep51_lc_photodtest.csv
include src/jnkepler/data/kep51_ttv_photodtest.txt
include src/jnkepler/data/info.txt
include src/jnkepler/data/info_lnpmass.npy
include src/jnkepler/data/hessian.txt
include src/jnkepler/data/JaxTTVobject.pkl
include src/jnkepler/data/kep51_nbodytransit_optim.npy
include src/jnkepler/data/kep51_4planet.csv
include src/jnkepler/data/kep51_4planet_sol.csv
include src/jnkepler/data/kep51_4planet_sol-2.csv
include src/jnkepler/data/tcs_ttvfast_for_test-all.txt
include src/jnkepler/data/tcs_ttvfast_for_test-nontransiting.txt
include src/jnkepler/data/tcs_ttvfast_for_test-obs-nontransiting.txt
include src/jnkepler/data/tcs_ttvfast_for_test-obs-nontransiting2.txt
include src/jnkepler/data/tcs_ttvfast_for_test-ttandrv.txt
include src/jnkepler/data/rvs_ttvfast_for_test-ttandrv.txt
include src/jnkepler/data/info_unconstrained_ref_lnpmass.npy
include src/jnkepler/data/info_unconstrained_ref.npy

global-exclude *.py[co]